<section class="project-detail">
  @if (project(); as project) {
    <a
      pButton
      class="back-button"
      [label]="t.portfolio.back[lang()]"
      icon="pi pi-arrow-left"
      [text]="true"
      [routerLink]="['/portfolio']"></a>

    <header class="detail-header">
      <span class="detail-year">{{ project.year }}</span>
      <h1>{{ project.title[lang()] }}</h1>
      <div class="detail-meta">
        <div class="detail-tags">
          @for (tag of project.tags; track tag) {
            <span class="tag">{{ tag }}</span>
          }
        </div>
        @if (project.links?.length) {
          <div class="detail-links">
            @for (link of project.links; track link.url) {
              <a
                pButton
                [label]="link.label"
                [icon]="link.icon"
                [outlined]="true"
                size="small"
                [href]="link.url"
                target="_blank"
                rel="noopener"></a>
            }
          </div>
        }
      </div>
    </header>

    <div class="detail-carousel" [class.single]="images().length < 2">
      <p-galleria
        [value]="images()"
        [showThumbnails]="false"
        [showIndicators]="images().length > 1"
        [showIndicatorsOnItem]="true"
        [showItemNavigators]="images().length > 1"
        [circular]="images().length > 1"
        [containerStyle]="{ width: '100%' }">
        <ng-template #item let-image>
          <img
            class="carousel-image"
            [src]="image"
            [alt]="project.title[lang()]"
            loading="lazy" />
        </ng-template>
      </p-galleria>
    </div>

    <div class="detail-content content-card">
      @for (paragraph of paragraphs(); track $index) {
        <p>{{ paragraph }}</p>
      }
    </div>
  } @else {
    <div class="detail-not-found">
      <p>{{ t.portfolio.notFound[lang()] }}</p>
      <p-button
        [label]="t.portfolio.back[lang()]"
        icon="pi pi-arrow-left"
        [routerLink]="['/portfolio']" />
    </div>
  }
</section>
